<div class="jumbotron">
  <h1>Welcome to Boozer</h1>
  <h2>Choose Your Category</h2>
  <p><a class="btn btn-lg btn-success" ng-href="#/category/beer">Beer<span class="glyphicon glyphicon-ok"></span></a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#/category/wine">Wine<span class="glyphicon glyphicon-ok"></span></a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#/category/spiritis">Spiritis<span class="glyphicon glyphicon-ok"></span></a></p>
  <p><a class="btn btn-lg btn-success" ng-href="#/category/ciders">Ciders<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
